# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/
android/

# Build outputs
*.tsbuildinfo

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
